@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="card">


    @foreach (var task in Model.Tasks)
    {
        <img src="@task.image" class="card-img-top" alt="..." width="200px" height="300px">
        <div class="card-body">
            <h5 class="card-title">@task.id</h5>
            <p class="card-text">@task.description</p>
            <a href="#" class="btn btn-primary">@task.is_complete</a>

        </div>
    }

</div>




